.dashboard-content {
    padding: 44.5px 44px 74px 20px;
}

.dash-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
}

.dash-title-inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dash-title-inner>p:nth-child(1) {
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-five);
    text-transform: capitalize;
    margin: 0px;
}

.dash-title-inner>p:nth-child(2) {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    margin: 0px;
}

.add-icon {
    height: 20px;
    width: 20px;
}

.add-icon img {
    height: 100%;
    width: 100%;
}

.dash-title button,
.add-project-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--custom-seven);
    border: none;
    height: 48px;
    width: 170px;
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    flex-shrink: 0;
    cursor: pointer;
}

.dash-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px -2px #18274B14;
    box-shadow: 0px 2px 4px -2px #18274B1F;
    background-color: white;
    height: 88px;
    max-width: 100%;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    gap: 5px;

}

.dash-card p {
    font-size: 24px;
    color: var(--custom-five);
    font-family: 'DMSans_36pt-Bold';
}

.dash-card-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--custom-seventeen);
}

.dash-card-item p {
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
}

.dash-card-icon-container {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--custom-sixteen);
}

.dash-card-icon-container img {
    height: 27px;
    width: 27px;
}

.dash-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    padding-top: 32px;
}


.activity-header p {
    font-size: 16px;
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--custom-six);
    padding: 8px 12px;
    gap: 4px;
    flex-shrink: 0;
    background-color: transparent;
    cursor: pointer;
}

.header-button p {
    font-size: 14px;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    margin: 0px;
}

.header-img-cont {
    width: 16px;
    height: 16px;
}

.header-img-cont img {
    width: 16px;
    height: 16px;
}

.activity-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 10px;
    background-color: white;
    padding: 16px 20px 8px 20px;

}

.proj-title {
    background-color: transparent;
    align-items: center;
}

.activity-header-border {
    border-bottom: 1px solid var(--custom-eleven);
    padding-left: 0px;
    padding-right: 0px;
}

.activity-container {
    display: flex;
    gap: 13px;
    flex-direction: row;
    width: 100%;
    margin-top: 32px;

}

.activity-sect-one, .billing-history-conatiner {
    width: 66.1%;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -4px #18274B14;
    box-shadow: 0px 6px 12px -6px #18274B1F;
    overflow: hidden;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    font-family: 'DMSans-Regular';
}

tbody {
    background-color: white;
    width: 100%;

}

tbody:before {
    content: "";
    display: table;
    margin-top: 16px;
}

th {
    height: 25px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    padding-right: 20px;
    background-color: var(--custom-eleven);
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;

}



.t-body tr {
    border-bottom: 1px solid var(--custom-eleven);
}

tbody tr {
    text-align: left;
    font-size: 14px;
    font-family: 'DMSans-Regular';
    color: var(--custom-seventeen);
    width: 100%;
}

td {
    vertical-align: top;

}

.td-bold {
    font-family: 'DMSans_18pt-Medium';
}


tbody tr>td:nth-child(1) {
    padding-left: 20px;
}

tbody tr>td:nth-child(3) {
    padding-right: 20px;
}

tbody tr>td:nth-child(2), .keywrd-tb-bdy>tr>td:nth-child(1) {
    color: var(--tertiary-color);
}
.keywrd-tb-bdy>tr>td:nth-child(1) {
    font-family: 'DMSans_18pt-Medium';
}
.keywrd-tb-bdy>tr>td:nth-child(2) {
    color: var(--custom-five);
}

thead th:nth-child(1) {
    padding-left: 20px;
}

.t-head th:nth-child(1) {
    width: 65%;
    padding-left: 20px;
}

.t-head th:nth-child(2) {
    padding-left: 0px;
    width: 17.5%;
}

.t-head th:nth-child(3) {
    padding-left: 0px;
    width: 17.5%;
}

tr td {
    padding-bottom: 20px;

}

.tb-row td {
    padding-top: 20px;
    padding-bottom: 20px;

}

.activity-sect-two {
    flex: 1;
    border-radius: 8px;
    background-color: white;
    border-top-right-radius: 8px;
    box-shadow: 0px 8px 24px -4px #18274B14;
    box-shadow: 0px 6px 12px -6px #18274B1F;
    overflow: hidden;
    padding: 0px 20px 0 20px;
}

.activity-sect-two-inner-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin-top: 8px;
    color: var(--custom-five);
}

.activity-sect-two-inner-item p {
    font-size: 14px;
    font-family: 'DMSans_18pt-Medium';
}

.activity-sect-two-inner-item-two {
    display: flex;
    align-items: center;
    gap: 4px;
}

.activity-sect-two-inner-item-two p {
    font-size: 16px;
    color: var(--custom-five);
}

.activity-sect-two-inner-item-two>div {
    height: 16px;
    width: 16px;
}

.activity-sect-two-inner-item-two>div>img {
    height: 100%;
    width: 100%;
}

.hamburger {
    display: none;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.5px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black;
    width: 25px;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.add-project-container {
    box-shadow: 0px 8px 24px -4px #18274B14, 0px 6px 12px -6px #18274B1F;
    height: 391px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 40px;
    border-radius: 8px;
}

.add-proj-img-container {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-proj-img-container img {
    height: 100%;
    width: 100%;
}

.add-project-container>p:nth-child(2) {
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px 0px 16px 0px;
}

.add-project-container button {
    width: 200px;
}

.add-project-dialog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}


.add-project-dialog-container {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.5s;
    margin: auto;
    width: 574px;
    box-shadow: 0px 18px 88px -4px #18274B24, 0px 8px 28px -6px #18274B1F;
    padding: 40px 20px;

}

.kewrd-time-conatiner {
    display: flex;
    align-items: center;
    gap: 17px;
}

.kewrd-time-conatiner p {
    margin: 0px;
}

.kewrd-time-conatiner button {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kewrd-time-conatiner button>img {
    height: 20px;
    width: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeOut {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.add-project-sectone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.add-project-sectone>p:first-child {
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
}

.add-project-sectone>button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-project-sectone>button>img {
    height: 24px;
    width: 24px;
}

.the-project-item-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}


.the-project-item-input>label {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
}

.the-project-item-input>input,
.the-project-item-input>textarea {
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'DMSans-Regular';
    border: 1px solid var(--custom-twenty);
    box-sizing: border-box;
    padding-left: 9px;
    box-shadow: 0px 4px 4px -2px #18274B14;
    box-shadow: 0px 2px 4px -2px #18274B1F;

}

.the-project-item-input>input {
    height: 40px;
}

.the-project-item-input>textarea {
    height: 100px;
    resize: none;
    padding-top: 9px;
}

.the-project-item-input>input:focus,
.the-project-item-input>textarea:focus {
    outline: 1px solid var(--tertiary-color);
}

#projectName {
    margin-bottom: 20px;
}


.the-project-form button,
.add-keyword-form>button:last-child, .comm-btn-style {
    width: 100%;
    height: 43px;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    border: none;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'DMSans_18pt-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.dashboard-nav-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    transition: width 0.4s ease;
}

.dash-nav-toggle{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--custom-seventeen);
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}
.dash-nav-toggle>img{
    height: 20px;
    width: 20px;
}
.nav-item.hiddenna {
    width: 55px;
    padding-left: 18px;
    
}

.desktop-nav.hidden {
    transition: width 0.4s ease;
}

.dash-warn {
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
border-radius: 8px;
border: 0.3px solid var(--custom-twenty-nine);
background-color: var(--custom-thirty);
gap: 8px;
margin-bottom: 32px;
margin-top: 5px;
}

.dash-warn-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.dash-warn-img{
    height: 24px;
    width: 24px;
}

.dash-warn-tle{
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-five);
    line-height: 19.2px;
    margin: 0px;
}

.dash-chart-container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}
.chat-title {
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-five);
    margin: 0px;
}

.statistics {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.statistics>p:first-child{
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
    font-size: 32px;
    color: var(--custom-thirty-one);
}

.statistics-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    gap: 1px;
    background-color: var(--custom-thirty-two);
}

.statistics-inner>div:first-child{
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics-inner>div:first-child>img{
    height: 12px;
    width: 12px;
}

.statistics-inner p{
    margin: 0px;
    font-size: 12px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--tertiary-color);
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
  }
  
  @property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }

  .prog-sect {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
  }

  .proge-indcator p{
    margin: 0px;
  }

  .proge-indcator p:first-child{
    font-size: 24px;
    color: var(--custom-thirty-one);
    font-family: 'DMSans_36pt-Bold';
  }

  .proge-indcator p:nth-child(2){
    font-size: 14px;
    color: var(--custom-six);
    font-family: 'DMSans_18pt-Medium';
  }

  .proge-indcator{
    position: absolute;
    text-align: center;
    top: 40px;
  }
  
  [role="progressbar"] {
    --percentage: var(--value);
    --primary: var(--success-color);
    --secondary: var(--custom-eleven);
    --size: 250px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 2 / 1;
    border-radius: 50% / 100% 100% 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  [role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
    mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
    -webkit-mask-mode: alpha;
  }

  .sub-contain{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    justify-content: center;
  }
  .sub-contain>p:first-child{
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
    color: var(--custom-thirty-one);
    margin-bottom: 20px;
  }

  .prog-footer{
    border-top: 1px solid var(--custom-thirty-three);
    padding-top: 21px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .prog-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
  }

  .prog-item>div:first-child{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--custom-fifteen);
  }

  .prog-item>p{
    font-size: 14px;
    margin: 0px;
    color: var(--custom-five);
    font-family: 'DMSans_36pt-Bold';
  }

  .sub-btn-style {
    height: 43px;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    border: none;
    cursor: pointer;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'DMSans_18pt-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

  /* [role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '% \A';
    font-family: 'DMSans_36pt-Bold';
    font-size: 24px;
    white-space: pre;
    color: var(--primary);
    display: block;
} */



  
  /* [role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '% \A';
    font-family: 'DMSans_36pt-Bold';
    font-size: 24px;
    white-space: pre;
    color: var(--primary);
  }

  [role="progressbar"]::after::before {
    content: 'usedaaaaaaaa';
    color: blue;
} */

.dash-cred-container, .dash-cred-container-mobile{
width: 280px;
margin-left: 15px;
margin-right: 15px;
}

.dash-cred-sectone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.dash-cred-sectone>p{
    font-size: 16px;
    color: var(--custom-five);
    margin: 0px;
}

.dash-cred-sectone>p:first-child{
    font-family: 'DMSans-Regular';
}

.dash-cred-sectone>p:nth-child(2){
    font-family: 'DMSans_36pt-Bold';
}

.progress-container, .progress-container-mobile  {
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--custom-eleven);
}

.progress-bar, .progress-mobile {
    width: 0;
    height: 8px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    border-radius: 8px;
    transition: width 0.4s ease;
}

@media only screen and (max-width: 1190px) {
    
    .activity-container {
        flex-direction: column;
    }

    .activity-sect-one {
        width: 100%;
    }

}

@media only screen and (max-width: 1070px) {
    .dash-cred-sectone>p{
        font-size: 12px;
        color: white;
    }
    
    .dash-cred-container {
        display: none;
     }
     .dash-cred-container-mobile{
        width: 98%;
    }
    .dash-card-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media only screen and (max-width: 820px) {
    .dash-card-container {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media only screen and (max-width: 690px) {        
    .dash-warn {
        padding: 12px;
        margin-bottom: 10px;
        margin-top: 24px;
        }

        .home-dash-tle{
            margin-bottom: 15px;
        }
        
        .dash-warn-tle{
            font-size: 12px;
            line-height: 14.4px;
        }


    .hamburger {
        display: block;
        transform: scale(-1);
    }

    .add-project-dialog-container {
        width: 100%;
        height: 100%;
    }

    .the-project-item-input>label {
        font-size: 14px;
    }

    .the-project-form button,
    .add-keyword-form>button:last-child, .comm-btn-style {
        height: 41px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .prog-footer{
        flex-direction: row;
        justify-content: center;
      }
    
      .prog-item>p{
        font-size: 12px;
      }


    .sub-contain{
        padding: 16px 8px;
      }
      .sub-contain>p:first-child{
        font-size: 16px;
        margin-bottom: 12px;
      }

    .dash-chart-container {
        padding: 20px 16px;
    }
    .chat-title {
        font-size: 14px;
    }
    .statistics>p:first-child{
        font-size: 20px;
    }
    .dash-warn-img, .dash-warn-img{
        height: 20px;
        width: 20px;
    }
    .dash-warn-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    thead tr th {
        font-size: 12px;
    }

    .keywords-header-th>th:first-child {
        width: 10px;
    }

    .add-project-container {
        height: 252px;
        margin-top: 0px;
    }

    .add-proj-img-container {
        height: 120px;
        width: 120px;
    }

    .add-project-container>p:nth-child(2) {
        font-size: 16px;
    }

    .proje-container {
        background-color: var(--secondary-color);
    }

    .dashboard-content {
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;

    }

    .dash-title {
        padding-top: 17px;
        background-color: var(--secondary-color);
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        gap: 20px;
    }

    .add-project-wrapper, .subscription-grid {
        padding-left: 16px;
        padding-right: 16px;
    }

    .proj-header {
        background-color: var(--custom-ninteen);
    }



    .dash-card-container {
        background-color: var(--custom-ninteen);
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 24px;
    }

    .dash-title-inner>p:nth-child(1) {
        font-size: 16px;
    }

    .dash-title-inner>p:nth-child(2) {
        font-size: 12px;
    }

    .dash-title button,
    .add-project-container button {
        height: 42px;
        width: max-content;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .dash-title button{
        padding-left: 16px;
        padding-right: 16px;
    }
    .add-icon {
        height: 16px;
        width: 16px;
    }

    .dash-card {
        height: 56px;
    }

    .dash-card p {
        font-size: 16px;
    }

    .dash-card-icon-container {
        height: 32px;
        width: 32px;
    }

    .dash-card-icon-container img {
        height: 20px;
        width: 20px;
    }

    .dash-card-item p {
        font-size: 14px;
    }

    .dash-card-container {
        padding-top: 0px;
    }

    .activity-header p,
    .keywords-header p {
        font-size: 14px;
    }

    .header-button p,
    .keywords-header-button p {
        font-size: 12px;

    }

    .header-button p {
        padding-top: 2px;
    }

    .activity-header,
    .keywords-header {
        padding-left: 16px;
        padding-right: 16px;

    }

    .activity-header,
    .keywords-header {
        padding-top: 12px;

    }

    .keywords-header {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    tbody tr {

        font-size: 12px;
        height: 0px;
        padding-right: 12px;
    }

    tr td {
        padding-top: 12px;
        padding-bottom: 12px;

    }

    tbody tr>td:nth-child(1) {
        padding-left: 16px;
    }

    tbody tr>td:nth-child(3) {
        padding-right: 16px;
    }

    thead th:nth-child(1) {
        width: 60%;
        padding-left: 16px;
    }

    thead th:nth-child(2) {
        padding-left: 0px;
        width: 10%;
    }

    thead th:nth-child(3) {
        width: 20.5%;
    }

    tbody:before {
        margin-top: 12px;
    }

    .activity-header-border {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .activity-sect-two-inner-item p {
        font-size: 12px;
    }

    .activity-sect-two-inner-item-two p {
        font-size: 14px;
    }

    .activity-sect-two {
        padding-bottom: 20px;
    }

    .activity-container {
        margin-top: 18px;

    }
}