body {
    margin: 0px;
}

.dash-container {
    display: flex;
    height: 100dvh;
    margin: 0px;
    background-color: var(--secondary-color);
}

.dash-nav {
    background-color: var(--primary-color);
    width: max-content;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    overflow-y: auto;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;

}

.logo {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    transition: width 0.4s ease;
}

.logo-img-container {
    height: 40px;
    width: 40px;
    flex-shrink: 0px;
}

.logo-img-container img {
    height: 40px;
    width: 40px;
    flex-shrink: 0px;
}

.logo p {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    background: linear-gradient(136.9deg, var(--custom-thirteen) 2.3%, var(--custom-fourteen) 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0px;
    width: fit-content;
    transition: width 0.4s ease;
    white-space: nowrap;
}

.dash-tle {
    width: 0px;
    transition: width 0.4s ease;
}


.dashboard-nav-header.shrink {
    width: 100px;
} 

.dash-tle.hide-title {
   display: none;
    transition: width 0.4s ease;
}

.ds-item.hide-title {
    opacity: 0;
}

.dash-container nav {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 24px;
    margin-top: 68px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    height: 48px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--custom-seven);
    font-family: 'DMSans_18pt-Medium';
    background-color: transparent;
    padding-left: 20px;
    text-decoration: none;
    flex-shrink: 0;
    transition: all 0.4s ease;
}

.nav-item p {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0px;
    line-height: 19.2px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.active-nav-item {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family: 'DMSans_36pt-Bold';
}

.dash-container>div:nth-child(2) {
    padding-right: 12px;
    padding-left: 12px;
    flex: 1;
    overflow-y: auto;

}

.dash-head {
    position: sticky;
    top: 0px;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px -2px #18274B14;
    box-shadow: 0px 2px 4px -2px #18274B1F;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
}

.dash-head-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dash-head-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dash-head-details>p:nth-child(1) {
    font-size: 24px;
    color: black;
    font-family: 'DMSans_36pt-Bold';
    text-transform: capitalize;
    margin: 0px;
}

.dash-head-details>p:nth-child(2) {
    font-size: 14px;
    font-family: 'DMSans-Regular';
    text-transform: capitalize;
    color: var(--custom-six);
    margin: 0px;
}

.dash-head-notify-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-right: 1px solid var(--custom-six);
}

.dash-head-notify p{
    white-space: nowrap;
}

.dash-head-notify {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    margin: 0px;
    border-radius: 8px;
    font-family: 'DMSans-Regular';
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}


.dash-head-notify-container {
    height: 20px;
    width: 20px;
}

.dash-head-notify-container img {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

/* .dash-head-notify:hover {
    background-color: var(--custom-twenty-three);
    color: var(--custom-ten);

}

.dash-head-notify p:hover {
    color: var(--custom-ten);
}

.dash-head-notify:hover .notification-container {
    padding: 16px;
    max-height: 400px;
} */

.profile-avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--tertiary-color);
}

.profile-avatar img {
    height: 42px;
    width: 42px;
    object-fit: cover;
}

.dash-notify-container {
    display: flex;
    align-items: center;
    gap: 16px
}

.nav-menu {
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: -100%;
    gap: 0;
    padding-top: 13px;
    height: 100vh;
    background-color: var(--primary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi-Medium';
    font-size: 20px;
    gap: 40px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 9999999999;
}

.nav-menu.active {
    left: 0;
}

.logo-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-img-container-mobile {
    height: 32px;
    width: 32px;
}

.logo-img-container-mobile img {
    height: 100%;
    width: 100%;
}

.logo-mobile p {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'DMSans_36pt-Bold';
    background: linear-gradient(136.9deg, var(--custom-thirteen) 2.3%, var(--custom-fourteen) 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logout-sect{
    border-top: 0.3px solid var(--custom-six);
    padding-top: 24px !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.nav-item-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px;
    height: 48px;
    flex: 1;
    border-radius: 8px;
    color: var(--custom-seven);
    font-family: 'DMSans_18pt-Medium';
    background-color: transparent;
    padding-left: 20px;
    padding-top: 1.9px;
    text-decoration: none;
    margin-bottom: 24px;
}

.nav-item-mobile p {
    font-size: 15px;
    text-transform: capitalize;
    margin: 0px;
    line-height: 19.2px;
    font-family: 'DMSans_18pt-Medium';
}

.active-nav-item-mobile {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family: 'DMSans_36pt-Bold';

}

.mobile-nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    padding: 16px 0px 16px 0px;
    margin-bottom: 17px;
}

.mobile-nav-logo button {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.mobile-nav-logo button img {
    height: 100%;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    flex: 1;
    overflow-y: auto;
}

.nav-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0px;
}

.nav-icon img{
    width: 20px;
    height: 20px;
}



.nav-icon-mobile {
    width: 20px;
    height: 20px;
}

.nav-icon-mobile img {
    width: 20px;
    height: 20px;
}


.mobile-nav-footer {
    color: var(--custom-six);
    font-family: 'DMSans-Regular';
    font-size: 12px;
}

.notification-container {
    position: absolute;
    top: 120px;
    right: 0;
    box-shadow: 0px 18px 88px -4px #18274B24, 0px 8px 28px -6px #18274B1F;
    background-color: var(--custom-seven);
    border-radius: 8px;
    width: 400px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    display: hidden;
}



.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--custom-eleven);
}

.notification-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.notification-title>p:first-child {
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
}

.notification-title>div:nth-child(2) {
    height: 20px;
    width: 20px;
    background-color: var(--error-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custom-seven);
    font-size: 14px;
    border-radius: 50%;
    font-family: 'DMSans_18pt-Medium';

}

.notification-header button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--tertiary-color);
    font-size: 14px;
    cursor: pointer;
    font-family: 'DMSans_18pt-Medium';
}

.notification-state-container {
    flex: 1;
    overflow-y: auto;
}

.notification-content {
    width: 100%;
    height: 344px;
    padding-bottom: 16px;
}

.notification-content-mobile {
    display: flex;
    width: 100%;
    height: 100%;
}

.empty-notify-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 24px;
}

.empty-notify-state>div:first-child,
.empty-notify-state>div:nth-child(3) {
    height: 1px;
    width: 100%;
    background-color: var(--custom-eleven);
}

.empty-notify-state>div:first-child {
    margin-left: 10px;
}

.empty-notify-state>div:nth-child(3) {
    margin-right: 10px;
}

.empty-notify-state>p:nth-child(2) {
    font-size: 14px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
    white-space: nowrap;
}

.notification-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.notification-item-inner>p:nth-child(1) {
    font-size: 14px;
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
}

.notify-time {
    display: flex;
    align-items: center;
    gap: 4px;
}

.notify-time>p:first-child {
    font-size: 14px;
    font-family: 'DMSans-Regular';
    margin: 0px;
}

.notify-time>div:last-child {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.notification-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--custom-eleven);
}

.notification-item>p:last-child {
    margin: 0px;
    font-size: 14px;
    line-height: 19.6px;
    color: var(--custom-twenty-two);
}

.mobile-notification {
    position: fixed;
    z-index: 99999;
    left: -100%;
    height: 100dvh;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    display: flex;
}

.mobile-notification-wrapper {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.close-notify {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-notify>div {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-notify>div>img {
    height: 18px;
    width: 18px;
}

.close-notify>p {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
    margin: 0px;
}

.dash-nav {
    width: 220px;
    transition: width 0.4s ease;
}

.dash-nav.mini {
   width: 100px
}


@media only screen and (max-width: 1190px) {
    .dash-nav {

        width: 190px;
    }

    .mobile-notification.active {
        left: 0;
    }

    .dash-head-notify:hover .notification-container {
        padding: 0px;
        max-height: 0px;
    }

}

@media only screen and (max-width: 828px) {
    .notification-container {
        width: 350px;
    }
}

@media only screen and (max-width: 690px) {
    .dash-head-notify p, .dash-head-notify-container {
        display: none;
    }

    .dash-nav {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .close-notify>div>img {
        height: 14px;
        width: 14px;
    }

    .close-notify>p {
        font-size: 14px;
    }

    .dash-notify-container {
        gap: 10px
    }

    .dash-head-notify-wrapper {
        padding-right: 12px;
        border-right: 1px solid var(--custom-eleven);
        height: fit-content;
    }

    .notification-container {
        display: none;
    }

    .dash-container>div:nth-child(2) {
        padding: 0px;

    }

    .dash-head-details {
        display: none;
    }

    .dash-head-notify {
        border-right: none;
        padding-right: 0px;
    }

   
    .dash-head-notify-container {
        height: 24px;
        width: 24px;
    }

    .profile-avatar {
        height: 32px;
        width: 32px;
    }

    .dash-head {
        box-shadow: none;
        height: 74px;
        padding: 0px;
        padding: 16px;
        padding-top: 5px;
        padding-bottom: 0px;
        border-radius: 0px;
        background-color: var(--custom-ninteen);
    }

    .profile-avatar img {
        height: 32px;
        width: 32px;
    }
}