.added-project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    margin-top: 32px;
}

.added-project-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    box-shadow: 0px 8px 8px -4px #18274B14, 0px 4px 6px -4px #18274B1F;
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 32px;
    text-align: center;

}

.added-project-item>div:first-child {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 1px solid var(--custom-ten);
    background-color: var(--custom-twenty-three);
    color: var(--custom-ten);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'DMSans_36pt-Bold';
    text-transform: uppercase;
    margin: 0px;
}

.added-project-item>p:nth-child(2) {
    color: var(--custom-five);
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
}

.added-project-item>p:nth-child(4) {
    color: var(--custom-six);
    font-size: 16px;
    font-family: 'DMSans-Regular';
    line-height: 25.6px;
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.added-project-button-wrapper {
    display: flex;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    padding: 1px;
    width: 100%;
    height: 43px;
    overflow: hidden;
}

.create-new-pj-container {
    height: 288px;
}

.create-new-pj-container>p {
    text-align: center;
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-five);
    padding: 0px 20px 0px 20px;
}

.added-project-button-wrapper a {
    display: inline-block;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    background-color: white;
    font-size: 16px;
    flex: 1;
    text-decoration: none;
    cursor: pointer;
    font-family: 'DMSans_18pt-Medium';
    color: var(--tertiary-color);
}

.added-project-button-wrapper a:hover {
    transform: scale(1.0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* #active-project-tle {
    display: none;
} */

.subscription-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    margin-top: 24px;
}

.subscription-card {
    box-shadow: 0px 8px 8px -4px #18274B14, 0px 4px 6px -4px #18274B1F;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    flex: 1;

}

.recom-card {
    background-color: var(--primary-color);
}

.subscription-card>div:first-child {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscription-card>div:first-child p {
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
}

.subscription-card>div:first-child>p:first-child {
    font-size: 20px !important;
}
.subscription-card>p:first-child, .recom-card>div:first-child p:first-child {
-webkit-flow-into: 16px;
font-family: 'DMSans_36pt-Bold';
margin: 0px;
font-size: 16px !important;
}

.subscription-card>div:first-child>p:last-child {
    color: var(--custom-twenty-four);
    text-transform: uppercase;
    font-size: 14px;
}

.subscription-card>div:nth-child(3)>p:first-child {
    color: var(--tertiary-color) !important; 
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    padding-top: 8px;
    margin: 0px;
}

.recom-card>div:nth-child(3)>p:first-child{
color: var(--custom-seven) !important;
}


.subscription-card>div:nth-child(2) {
    display: flex;
    margin-top: 24px;
    gap: 8px;
}

.subscription-card>div:nth-child(2)>p:first-child {
    font-family: 'DMSans_36pt-Bold';
    font-size: 40px;
    color: var(--custom-five);
    margin: 0px;
}

.subscription-card>div:nth-child(2)>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    color: var(--custom-five);
    margin: 0px;

}

.recom-card>div:first-child{
    margin-top: 0px;
}

.recom-card>div:first-child p:first-child,
.recom-card>div:nth-child(2)>p:first-child,
.recom-card>div:nth-child(2)>p:nth-child(2) {
    color: var(--custom-seven);
}



.curr-sub,
.sub-amt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    gap: 4px;
    border-radius: 32px;
    border: 1px solid var(--custom-six);
    margin-top: 18px;
}

.sub-amt {
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    border: none;
}

.curr-sub>p,
.sub-amt>p {
    color: var(--custom-six);
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
}

.sub-amt>p {
    color: var(--custom-seven);
}

.curr-sub>div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curr-sub>div>img {
    width: 20px;
    height: 20px;
}

.sub-items {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 16px;
}

.sub-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px
}

.sub-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.sub-item>div>img {
    height: 20px;
    width: 20px;
}

.sub-item>p {
    margin: 0px;
    font-size: 14px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-seventeen)
}

.recom-sub-item>p {
    color: var(--secondary-color);
}

.sub-expiry {
    font-size: 16px;
    margin: 0px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--error-color);
}

.sub-expiry-date {
    color: var(--custom-five);
}

.added-proj-label{
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--custom-sixteen);
    border-radius: 32px;
    gap: 4px;
}

.added-proj-label>div:first-child {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.added-proj-label>p{
    margin: 0px;
    font-size: 13px;
    color: var(--tertiary-color);
    font-family: 'DMSans_18pt-Medium';
}

.added-project-item-btn{
    position: absolute;
    right: 20px;
    top: 44px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.crea-proje-badge {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 32px;
    background-color: var(--custom-sixteen);
}

.crea-proje-badge>div:first-child {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--tertiary-color);

}

.crea-proje-badge>p {
    text-transform: capitalize;
}

.crea-proje-badge>p:last-child {
    font-size: 14px;
    color: var(--custom-ten);
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
    
}

.added-project-item-btn img{
    height: 24px;
    width: 24px;
}

.dele-text{
    color: var(--error-color);
}

.prog-cardtooltip {
    position: absolute;
    top: 75px !important;
}

.proj-dele-text{
    color: var(--error-color);
}


@media only screen and (max-width: 1350px) {
    .subscription-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 1070px) {
    .added-project-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 914px) {
    .subscription-grid {
        grid-template-columns: repeat(1, 1fr);

    }
}


@media only screen and (max-width: 740px) {
    .added-project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .sub-title {
        align-items: start;
    }
    .sub-expiry {
        font-size: 12px;
    }

    .subscription-card>div:first-child {
        margin-top: 14px;
    }

    .sub-item>div,
    .sub-item>div>img {
        height: 16px;
        width: 16px;
    }

    .curr-sub>div,
    .curr-sub>div>img {
        width: 16px;
        height: 16px;
    }

    .curr-sub,
    .sub-amt {
        height: 33px;
        margin-top: 9px;
    }

    .curr-sub>p,
    .sub-amt>p {
        font-size: 14px;
    }


    .subscription-card>div:nth-child(2)>p:first-child {
        font-size: 24px;
    }

    .subscription-card>div:nth-child(3)>p:first-child {
        font-size: 17px;
        padding-bottom: 4px;
        padding-top: 9px;
    }

    .subscription-card>div:nth-child(2)>p:nth-child(2) {
        font-size: 14px;
    }

    .subscription-card>div:first-child>p:first-child {
        font-size: 16px;
    }

    .subscription-card>div:first-child>p:last-child {
        font-size: 12px;
    }



    .create-new-pj-container {
        height: 148px;
        gap: 2px;
    }

    .create-new-pj-container>p {
        font-size: 16px;
    }

    .added-project-container {
        margin-top: 0px;
    }

    .added-project-item {
        gap: 8px;
        padding: 16px;
        margin-bottom: 16px;

    }

    .added-project-item>div:first-child {
        height: 56px;
        width: 56px;
        font-size: 24px;
    }

    .added-project-item>p:nth-child(2) {
        font-size: 16px;
    }

    .added-project-item>p:nth-child(4) {
        font-size: 12px;
        line-height: 19.2px;
    }

    .added-project-button-wrapper {
        height: 41px;
    }

    .added-project-button-wrapper a {
        font-size: 14px;
    }

}