@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans_18pt-Medium';
    src: url('../fonts/DMSans_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans_36pt-Bold';
    src: url('../fonts/DMSans_36pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    src: url('../fonts/Fontspring-DEMO-criteriacf-bold.otf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'DMSans-Regular';
}