:root {
    --primary-color: #090909;
    --secondary-color: #F7F7F7;
    --tertiary-color: #04839F;
    --success-color: #11928D;
    --error-color: #CC0000;
    --error-color-II: #E00000;
    --error-color-shade: #FFEBEB;
    --custom-one: #040815;
    --custom-two: #596780;
    --custom-three: #F2F6F7;
    --custom-four: #91919166;
    --custom-five: #252525;
    --custom-six: #737373;
    --custom-seven: #FDFDFD;
    --cistom-eight: #E6E6E6;
    --custom-nine: #0D121F;
    --custom-ten: #11928D;
    --custom-eleven: #EDEDED;
    --custom-twelve: #1A202C;
    --custom-thirteen: #05A4C7;
    --custom-fourteen: #1ADBD4; 
    --custom-fifteen: #11928D;
    --custom-sixteen: #EBFBFE;
    --custom-seventeen: #404040;
    --custom-ninteen: #F2F2F2;
    --custom-twenty: #E1E6EF;
    --custom-twenty-one: #64436E;
    --custom-twenty-two: #595959;
    --custom-twenty-three: #EDFDFC;
    --custom-twenty-four: #FFA500;
    --custom-twenty-five: #F5F5F5;
    --custom-twenty-six: #636D79;
    --custom-twenty-seven: #036277;
    --custom-twenty-eight: #FFB733;
    --custom-twenty-nine: #A3A300;
    --custom-thirty: #FFFFF5;
    --custom-thirty-one: #3F4254;
    --custom-thirty-two: #E8FFF3;
    --custom-thirty-three: #E1E3EA;
    --custome-thiry-four: #333333;
    --custom-thirty-five: #F1F1F1;
    --custom-thirty-six: #131313;
    --custom-thirty-seven: #A6A6A6;
    --custom-thirty-eight: #3E97FF;
    --custom-thirty-nine: #F1416C;
    --custom-fourty: #50CD89;
    --custom-fourty-one: #F6C000;
    --custom-fourty-two: #7239EA;
    --custom-fouty-three: rgba(115, 115, 115, 0.4);
    --custom-fourty-four: rgba(115, 115, 115, 0.3);
    --custom-fourty-five: #00000008;
    --max-width: 1200px;
    --global-desktop-padding: 30px;
    --global-mobile-padding: 16px;
}