body {
    margin: 0px;
}

.signin-container {
    display: flex;
    height: 100dvh;

}

.auth-container-sect-one {
    padding-top: 123px;
    padding-left: 110px;
    width: 55%;
    overflow-y: auto;
    margin: 0px;
}

.authform-wrapper {
    max-width: 537px;
}

.auth-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 105.5px;
}

.auth-img-container {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-img-container img {
    width: 38.17px;
    height: 33.9px
}

.auth-logo>p {
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
    color: var(--tertiary-color);
    text-transform: uppercase;
}

.authform-wrapper>p:nth-child(2) {
    font-family: 'DMSans_36pt-Bold';
    font-size: 28px;
    color: black;
    margin: 0px;
    padding-bottom: 4px;
}

.authform-wrapper>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    font-size: 16px;
    color: var(--custom-six);
    margin: 0px;
    padding-bottom: 26px;
}

.authform-wrapper>form {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-item>label {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
}

.form-item>input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'DMSans-Regular';
    border: 1px solid var(--custom-twenty);
    box-sizing: border-box;
    padding-left: 9px;
    box-shadow: 0px 4px 4px -2px #18274B14;
    box-shadow: 0px 2px 4px -2px #18274B1F;

}

.form-item>input:focus {
    outline: 1px solid var(--tertiary-color);
}

.form-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-item-inner>label {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
}

.form-item-inner>a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
}

.password-container {
    position: relative;
}

.password-container>img {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

}

.password-container>input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'DMSans-Regular';
    border: 1px solid var(--custom-twenty);
    box-sizing: border-box;
    padding-left: 9px;
    box-shadow: 0px 4px 4px -2px #18274B14;
    box-shadow: 0px 2px 4px -2px #18274B1F;

}

.password-container>input:focus {
    outline: 1px solid var(--tertiary-color);
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}



.auth-form button {
    width: 100%;
    height: 51px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    border-radius: 32px;
    border: none;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-seven);
    font-size: 16px;
    margin-top: 13px;
    cursor: pointer;
}

.auth-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 50px;
    margin: 0px;
    gap: 8px;
}

.auth-button-container>p {
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
    font-size: 16px;
}

.auth-button-container>a {
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--tertiary-color);
    margin: 0px;
    border: none;
}

.signin-container-sect-two {
    flex: 1;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.signin-container-sect-two-wrapper {
    max-width: 398px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
}

.signin-container-sect-two-wrapper>p:first-child {
    color: var(--custom-seven);
    font-size: 28px;
    font-family: 'DMSans_36pt-Bold';
    text-align: center;
}

.signin-container-sect-two-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
}

.signin-container-item {
    display: flex;
    align-items: center;
    background-color: var(--custom-five);
    border-radius: 8px;
    padding: 18px;
    gap: 8px;
}

.signin-container-item>div:first-child {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    flex-shrink: 0;
}

.signin-container-item>div:first-child>img {
    height: 24px;
    width: 24px;
}

.signin-container-item>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-family: 'DMSans_18pt-Medium';
}


.signin-container-item>div:nth-child(2)>p:nth-child(1) {
    color: var(--custom-seven);
    font-size: 20px;
    margin: 0px;
}

.signin-container-item>div:nth-child(2)>p:nth-child(2) {
    color: var(--custom-six);
    font-size: 16px;
    margin: 0px;
}

.otp-bk-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    gap: 8px;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
    margin-bottom: 33px;
}

.otp-bk-btn>div {
    height: 20;
    width: 20;
}

.otp-bk-btn>p {
    margin: 0px;
    padding-bottom: 5px;
}

.otp-bk-btn>div>img {
    height: 100%;
    width: 100%;
}

.auth-logo-otp {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 80px;
}

.auth-logo-otp>p {
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
    color: var(--tertiary-color);
    text-transform: uppercase;
}

.otp-container>p:nth-child(2),
.create-acc-container>p:nth-child(2) {
    font-size: 28px;
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;

}

.otp-container>p:nth-child(3),
.create-acc-container>p:nth-child(3) {
    font-size: 16px;
    line-height: 25.6px;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    margin: 0px;
    margin-top: 2px;
}

.auth-linear-progess {
    width: 100%;
    height: 5px;
    background-color: var(--custom-eleven);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 26px;
    margin-bottom: 26px;
}

.auth-progress {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--tertiary-color);
}

.auth-progress-full {
    width: 100%;
}

.otp-form {
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.otp-form>input {
    flex: 1;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    color: var(--custom-six);
    text-align: center;
    border: 1px solid var(--custom-twenty);
}

.otp-form>input:focus {
    outline: 1px solid var(--tertiary-color);
}


.rsd-otp {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    margin-bottom: 35px;
    margin-top: 30px;
}

.rsd-otp>p {
    color: var(--custom-one);
}

.rsd-otp>button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--tertiary-color);
}

.otp-proceed {
    width: 100%;
    border-radius: 32px;
    border: none;
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-seven);
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    height: 51px;
    margin-bottom: 20px;
}

.fst-name {
    margin-bottom: 20px;
}

.agree-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.agree-container>input {
    height: 20px;
    width: 20px;
    border: 2px solid var(--custom-twenty-one);
    cursor: pointer;
}

.agree-container>label {
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
}

.term-cond {
    text-decoration: none;
    color: var(--tertiary-color);

}

.create-auth-form {
    padding-bottom: 30px;
}


.acc-created-succ-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    opacity: 0.16;
    background-color: var(--custom-five);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;
}

.success-dialog {
    box-shadow: 0px 18px 88px -4px #18274B24;
    box-shadow: 0px 8px 28px -6px #18274B1F;
    opacity: 1;
    background-color: black;
    border-radius: 8px;
    z-index: 9999999999;
}

.succ-img {
    width: 280px;
    height: 205px;
}

.succ-img img {
    width: 100%;
    height: 100%;
}

#openDialogBtn {
    padding: 10px 20px;
    font-size: 16px;
}



.dialog-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.5s;
    max-width: 380px;
    box-shadow: 0px 18px 88px -4px #18274B24;
    box-shadow: 0px 8px 28px -6px #18274B1F;
    padding: 40px;
}

.dialog>p:nth-child(2) {
    font-family: 'DMSans_36pt-Bold';
    font-size: 24px;
    line-height: 28.8px;
    margin: 0px;
    padding-top: 37px;
}

.dialog>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    font-size: 16px;
    line-height: 19.2px;
    color: var(--custom-six);
    margin: 0px;
    padding-top: 12px;
}

.dialog a {
    width: 100%;
    height: 51px;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    border: none;
    cursor: pointer;
    margin-top: 12px;
    text-decoration: none;
    font-family: 'DMSans_18pt-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeOut {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}


@media only screen and (max-width: 1180px) {
    .auth-container-sect-one {
        padding-top: 93px;
        padding-left: 80px;
        width: 45%;
        padding-right: 30px;
    }

    .otp-form {
        height: 60px;
    }
}

@media only screen and (max-width: 960px) {
    .auth-container-sect-one {
        padding-top: 80px;
        padding-left: 30px;
        width: 45%;
    }

    .auth-logo {
        padding-bottom: 60.5px;
    }
}

@media only screen and (max-width: 820px) {
    .auth-container-sect-one {
        width: 40%;
    }

    .otp-form {
        height: 40px;
    }
}


@media only screen and (max-width: 750px) {
    .signin-container-sect-two {
        display: none;
    }

    .otp-form {
        height: 58px;
        max-width: 500px;
    }

    .auth-container-sect-one {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .authform-wrapper {
        max-width: 100%;
    }


}


@media only screen and (max-width: 500px) {
   
    .dialog{
        padding: 16px;
    }

    .dialog>p:nth-child(2) {
        font-size: 20px;
        line-height: 24px;
        padding-top: 16px;
    }
    
    .dialog>p:nth-child(3) {
        font-size: 12px;
        line-height: 14.4px;
    }
    
    .dialog a {
        height: 41px;
        font-size: 14px; }
    
    .succ-img {
        width: 220px;
        height: 161px;
    }
    
   

    .agree-container {
        margin-top: 27px;
        margin-bottom: 15px;
    }

    .rsd-otp {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    .auth-linear-progess {

        margin-bottom: 28px;
    }

    .otp-container>p:nth-child(3),
    .create-acc-container>p:nth-child(3) {
        font-size: 14px;
        line-height: 22.4px;
        margin-top: 4px;
    }

    .otp-container>p:nth-child(2),
    .create-acc-container>p:nth-child(3) {
        font-size: 20px;

    }

    .auth-logo-otp {
        padding-bottom: 40px;
    }

    .otp-bk-btn {
        margin-bottom: 30px;
    }

    .auth-container-sect-one {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 50px;
    }

    .otp-form {
        height: 50px;
    }

    .auth-logo {
        padding-bottom: 28px;
    }

    .auth-img-container {
        height: 32px;
        width: 32px;
    }

    .auth-img-container img {
        width: 30.52px;
        height: 27.12px
    }

    .auth-logo>p {
        font-size: 14px;
    }

    .authform-wrapper>p:nth-child(2) {
        font-size: 20px;
        padding-bottom: 3px;
    }

    .authform-wrapper>p:nth-child(3) {
        font-size: 12px;
    }

    .form-item>label,
    .form-item-inner>label,
    .form-item-inner>a {
        font-size: 14px;
    }

    .auth-form button {
        height: 41px;
        font-size: 14px;
        margin-top: 15px;
    }

    .auth-button-container>p,
    .auth-button-container>button,
    .form-item>input,
    .password-container>input {
        font-size: 14px;
    }

    .authform-wrapper>form {
        gap: 20px;

    }

    .form-item>input {
        font-size: 14px;
    }




}