.documentation-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 88px;
    margin-bottom: 88px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.documentation-item p {
    margin: 0px;
}

.documentation-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--custom-eleven);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
}

.documentation-item-img>img {
    width: 100%;
    height: 100%;
}

.documentation-item-tle {
    font-size: 28px;
    font-family: 'DMSans_36pt-Bold';
    line-height: 33.6px;
    padding-bottom: 8px;
}

.documentation-item-stle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25.6px;

    font-size: 16px;
    color: var(--custom-six);
}


.documentation-item-lnk {
    text-decoration: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
}

.documentation-item-btn-tle {
    font-size: 16px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--tertiary-color);
    line-height: 25.6px;
}

.documentation-item-btn-icon {
    height: 20px;
    width: 20px;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documentation-item-btn-icon>img {
    height: auto;
    width: auto;
}

.privacy-policy-header{
    padding-bottom: 120px;
}

.start-guide-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    margin-bottom: 32px;
}

.start-guide-sect1-tle {
    font-size: 40px;
    line-height: 57.6px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    margin: 0px;
    margin-bottom: 20px;
    font-weight: 900;
    color: white;
}

.start-guide-sect1-stle {
    font-size: 16px;
    line-height: 25.6px;
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
    color: var( --custom-eleven);
}

.start-guide-sect1,
.start-guide-sect2 {
    flex: 1;
}

.start-guide-sect2>img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.privacy-content-nav {
    width: 1000px;
}

.start-guide-one-tle {
    font-size: 32px;
    color: var(--custom-five);
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
    margin-bottom: 30px;
    line-height: 38.4px;
}

.start-guide-one-stle {
    font-size: 20px;
    color: var(--custom-five);
    margin: 0px;
    font-family: 'DMSans_18pt-Medium';
    margin-bottom: -1px;
    line-height: 24px;
}

.start-guide-one-stle-img-cont {
    width: 100%;
    height: 551.06px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-guide-one-foot {
    margin: 0px;
    color: var(--custom-five);
    padding-bottom: 16px;
    margin-bottom: 20px;
    line-height: 25.6px;
    margin-top: -16px;
    font-size: 16px;
    border-bottom: 1px solid var(--custom-eleven);
}

.start-guide-one-stle-img-cont>img:hover {
    transform: none;
}

.start-guide-one-stle-img-cont>img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1091px) {
    .start-guide-one-stle-img-cont {
        height: 490.06px;
    }
}

@media only screen and (max-width: 888px) {
    .start-guide-one-stle-img-cont {
        height: 370.06px;
    }
}

@media only screen and (max-width: 800px) {
    .documentation-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .start-guide-header {
        flex-direction: column;
        gap: 65px;
    }

}

@media only screen and (max-width: 630px) {

    .privacy-content-nav {
        width: 100%;
    }

}


@media only screen and (max-width: 500px) {

    .documentation-content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .documentation-item-tle {
        font-size: 16px;
        line-height: 19.2px;

    }

    .documentation-item-stle {
        font-size: 12px;
        line-height: 19.2px;
    }

    .documentation-item-btn-icon {
        padding-top: 0px;
    }

    .documentation-item-btn-tle {
        font-size: 14px;
        line-height: 25.4px;
    }

    .documentation-item-btn-icon>img {
        height: 13.3px;
        width: 11.12px;
    }

    .start-guide-one-tle {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .start-guide-one-stle {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    .start-guide-one-stle-img-cont {
        height: 230.06px;
    }

    .start-guide-one-foot {
        margin-top: -5px;
        font-size: 12px;
    }

    .start-guide-header {
        padding-right: var(--global-mobile-padding);
        padding-left: var(--global-mobile-padding);
        max-width: 100%;
    }

    .start-guide-sect1-tle {
        font-size: 28px;
        line-height: 37.6px;
        margin-top: 10px;
        margin-bottom: 17px;
    }

    .start-guide-sect1-stle {
        font-size: 14px;
        line-height: 25.6px;
        margin: 0px;
    }

    .start-guide-header {
        padding-bottom: 50px;
    }
}