body {
    margin: 0px;
}

.box {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.box.visible-ani {
    opacity: 1;
}

@keyframes animation1 { from { transform: translateY(50px); } to { transform: translateY(0); } }
@keyframes animation2 { from { transform: translateX(-50px); } to { transform: translateX(0); } }
@keyframes animation3 { from { transform: translateX(50px); } to { transform: translateX(0); } }
@keyframes animation4 { from { opacity: 0; } to { opacity: 1; } }
@keyframes animation5 { from { transform: translate(0, 50px); } to { transform: translate(0, 0); } }
@keyframes animation6 { from { transform: translateY(-50px); } to { transform: translateY(0); } }


.box.animation1.visible-ani { animation: animation1 1s forwards; }
.box.animation2.visible-ani { animation: animation2 1s forwards; }
.box.animation3.visible-ani { animation: animation3 1s forwards; }
.box.animation4.visible-ani { animation: animation4 4s forwards; }
.box.animation5.visible-ani { animation: animation5 1s forwards; }
.box.animation6.visible-ani { animation: animation6 1s forwards; }


.hero {
    margin: auto;
    text-align: center;
    max-width: 980px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.hero>p:nth-child(1) {
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    margin-top: 105px;
}

.hero>p:nth-child(2) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    font-size: 48px;
    margin: auto;
    line-height: 76.8px;

}

.hero>p:nth-child(3) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    line-height: 25.6px;
    margin-top: 20px;

}

.hero-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

.hero-btn a {
    text-decoration: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'DMSans_36pt-Bold';
}

.hero-btn>a:nth-child(1) {
    background-color: white;
    color: black;
}

.hero-btn>a:nth-child(2) {
    border: 1px solid rgba(255, 255, 255, 0.13);
    color: white;
}

.hero-img {
    height: 405.64px;
    width: 100%;
    margin: auto;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent,
            var(--primary-color));
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.wucf-container {
    max-width: var(--max-width);
    margin: 100px auto auto auto;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.wucf-container>p:nth-child(1) {
    text-transform: uppercase;
    font-family: 'DMSans-Regular';
    color: var(--tertiary-color);
    font-size: 20px;
    margin: 0px;
}

.wucf-inner {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-top: 16px;
}

.wucf-inner>p:nth-child(1) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    font-size: 40px;
    color: var(--custom-one);
    max-width: 415px;
    margin: 0;
}

.wucf-inner>p:nth-child(2) {
    font-family: 'DMSans-Regular';
    font-size: 20px;
    color: var(--custom-two);
    max-width: 496px;
    margin: 0;
}

.wucf-img-inner {
    position: relative;
    background-color: var(--custom-three);
    border-radius: 12px;
    height: 384px;
    width: 100%;
    overflow: hidden;
}

.wucf-img-inner>img:nth-child(1) {
    position: absolute;
    left: 0px;
    bottom: -1px;
    box-shadow: 0px 8px 8px -4px #18274B14;
}

.wucf-img>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-one);
    margin: 25px 0px 0px 0px;
    font-size: 24px;
}

.wucf-img>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    color: var(--custom-two);
    font-size: 16px;
    margin-top: 8px;
}

.wucf-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 80px;
    line-height: 25.6px;
}

.wucf-img {
    width: 100%;
    ;
}

.wucf-img-inner-two {
    position: absolute;
    right: 6px;
    top: 90px;
    height: 40px;
    width: 147px;
    box-shadow: 0px 10px 50px 0px var(--custom-four);
    background-color: white;
    border-radius: 70px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.wucf-img-inner-two>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 14px;
    color: var(--custom-one);
}

.wucf-img-inner-two-img {
    height: 24px;
    width: 24px;
    padding-left: 8px;
}

.wucf-img-inner-two-img img {
    width: 100%;
    height: 100%;
}

.boost-container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 200px;
    padding-bottom: 80px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.boost-container-inner {
    width: 50%;
}

.boost-container-inner>p:nth-child(1) {
    line-height: 44.8px;
    font-size: 32px;
    margin: 0px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    color: var(--custom-five);

}

.boost-container-inner>p:nth-child(2) {
    line-height: 25.6px;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    margin-top: 16px;
}

.boost-container-inner a {
    text-decoration: none;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_36pt-Bold';
    height: 43px;
    width: 132px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boost-container-img {
    height: 523px;
    width: 50%;
}

.boost-img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}

.few-easy-wrapper,
.fags-wrapper {
    background-color: var(--custom-eleven);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);

}

.few-easy-container {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    gap: 72px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);

}

.few-easy-img {
    height: 536px;
    width: 50%;
    background-color: var(--cistom-eight);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.few-easy-img>img:first-child {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.few-easy-item {
    box-shadow: 16px 16px 80px 0px #00000026;
    width: 380px;
    height: 72px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 12px;

}

.few-easy-item-one {
    position: absolute;
    top: 31px;
    left: 30px;
}

.few-easy-item-two {
    position: absolute;
    top: 135px;
    left: 62px;
}

.few-easy-item-three {
    position: absolute;
    top: 240px;
    left: 97px;
}

.few-easy-item-img {
    height: 20px;
    width: 20px;
}

.few-easy-item-img>img:first-child {
    height: 100%;
    width: 100%;
}

.few-easy-item p {
    color: var(--custom-nine);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_18pt-Medium';
}


.few-easy-sect-two {
    width: 50%;
}

.few-easy-sect-two>p:nth-child(1) {
    font-family: 'DMSans_18pt-Medium';
    text-transform: uppercase;
    font-size: 20px;
    color: var(--custom-ten);
    margin: 0px;
}

.few-easy-sect-two>p:nth-child(2) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    line-height: 48px;
    font-size: 40px;
    color: var(--custom-five);
    margin: 15px 0px 0px 0px;
}

.few-easy-sect-two>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    line-height: 24px;
    font-size: 20px;
    color: var(--custom-six);
    max-width: 480px;
    margin-top: 25px;
}

.few-easy-sect-two-inner-one {
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.few-easy-sect-two-inner-one>div:nth-child(1),
.few-easy-sect-two-inner-one>div:nth-child(3) {
    font-family: 'DMSans_36pt-Bold';
    height: 48px;
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.few-easy-sect-two-inner-one>div:nth-child(2) {
    height: 33px;
    background-color: var(--tertiary-color);
    width: 1.6px;
}

.few-easy-sect-two-inner-one>div:nth-child(5) {
    font-family: 'DMSans_36pt-Bold';
    height: 48px;
    width: 100%;
    background-color: var(--custom-eleven);
    border-radius: 50%;
    color: var(--custom-twelve);
    display: flex;
    align-items: center;
    justify-content: center;
}




.few-easy-sect-two-inner-one>div:nth-child(4) {
    position: relative;
    height: 33px;
    background-color: white;
}

.few-easy-sect-two-inner-one>div:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.6px;
    height: 100%;
    border-radius: 80px;
    background: linear-gradient(var(--custom-eleven) 50%, transparent 50%) 0 0 / 2px 15px repeat-y;
    pointer-events: none;
}

.few-easy-sect-two-inner {
    display: flex;
    gap: 16px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    max-width: 460px;
    margin-top: 25px;

}

.few-easy-sect-two-inner-two {
    font-family: 'DMSans_18pt-Medium';
    font-size: 20px;
    margin: 0;
}

.few-easy-sect-two-inner-two>p:nth-child(1) {
    margin: 10px 0px 0px 0px
}

.few-easy-sect-two-inner-two>p:nth-child(2) {
    margin: 55px 0px 0px 0px
}

.few-easy-sect-two-inner-two>p:nth-child(3) {
    margin: 57px 0px 0px 0px
}

.few-easy-sect-two-link {
    text-decoration: none;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_36pt-Bold';
    height: 43px;
    width: 132px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.fags-container>p:first-child {
    font-size: 40px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    margin: 0px;
    color: var(--custom-five);
    padding-bottom: 16px;
    text-align: center;
    line-height: 48px;
}

.fags-container>p:nth-child(2) {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    margin: 0px;
    color: var(--custom-twenty-six);
    padding-bottom: 40px;
    text-align: center;
}

.faq-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.faq-question>p:first-child {
    font-size: 16px;
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
}


.faq-item {
    padding: 30px;
    background-color: var(--custom-seven);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
}

.faq-question:hover {
    background: white;
}

.faq-answer {
    max-height: 0;
    background: #f9f9f9;
    transition: max-height 1s ease, padding 1s ease;
}

.faq-question button:focus {
    outline: none;
}

.rotate {
    transform: rotate(180deg);
}

.faq-answer.show {
    padding: 10px;
    max-height: 1000px;
}

.faq-question button.rotate {
    transform: rotate(180deg);
}

.fag-button {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.fag-button>img {
    height: 24px;
    width: 24px;
}

.fags-container {
    max-width: 816px;
    margin: auto;
}

.faq-answer {
    font-family: 'DMSans-Regular';
    font-size: 14px;
    max-height: 0;
    margin: 0px;
    overflow: hidden;
}

.all-fags {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.wct-wrapper {
    background-color: var(--primary-color);

}

.wct-container {
    max-width: var(--max-width);
    margin: auto;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.wct-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;
}

.wct-header-inner-one {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 554px;
}

.wct-header-inner-one p {
    margin: 0px;
}

.wct-header-inner-one>p:first-child {
    font-size: 40px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    color: var(--custom-seven);
    line-height: 48px;
}

.wct-header-inner-one>p:last-child {
    font-size: 20px;
    font-family: 'DMSans-Regular';
    color: var(--custom-eleven);
    line-height: 24px;
}

.wct-header-inner-two {
    display: flex;
    flex-direction: row;
    gap: 15px
}

.mobile-review-btn {
    display: none;
}

.wct-header-inner-two button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    height: 70px;
    width: 70px;
    cursor: pointer;
}


.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
}

.rating div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.rating div img {
    height: 20px;
    width: 20px;
}

.user-rating-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.commenter-name {
    font-size: 20px;
    margin: 0px;
    font-family: 'DMSans_18pt-Medium';
}

.comment-wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
    margin: auto;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    gap: 12px;
}

.newsletter-wrapper,
.footer-wrapper {
    background-color: var(--primary-color);
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);

}

.news-letter-img {
    background-color: gray;
}

.news-letter-form,
.news-letter-img {
    width: 50%;

}

.news-letter-img {
    height: 555px;
}

.news-letter-form>p:first-child {
    font-size: 32px;
    font-family: 'DMSans_36pt-Bold';
    color: white;
    margin: 0px;
}

.news-letter-form>p:nth-child(2) {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: white;
    margin: 0px;
    padding-top: 16px;
}

.news-letter-form>input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 56px;
    width: 100%;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    margin-top: 35px;
}

.news-letter-form>input::placeholder {
    font-size: 16px;
    color: var(--custom-six);
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    color: var(--custom-six);
    font-family: 'DMSans-Regular';
    margin-top: 24px;

}

.custom-checkbox a {
    text-decoration: none;
    color: var(--custom-seven);
}

.custom-checkbox input[type="checkbox"]:focus+.checkmark {
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.5);
}

.tnc-btn {
    width: 100%;
    height: 43px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    border: none;
    margin-top: 50px;
}

.news-letter-form>input:-webkit-autofill,
.news-letter-form>input:-webkit-autofill:hover,
.news-letter-form>input:-webkit-autofill:focus,
.news-letter-form>input:-webkit-autofill:active,
.contact-us-item>input:-webkit-autofill,
.contact-us-item>input:-webkit-autofill:hover,
.contact-us-item>input:-webkit-autofill:focus,
.contact-us-item>input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

.news-letter-form>input:-webkit-autofill,
.contact-us-item>input:-webkit-autofill {
    -webkit-text-fill-color: var(--secondary-color) !important;
}

.footer-container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 64px 0px;
    padding-top: 120px;
    border-bottom: 1px solid var(--custom-six);
}

.footer-wrapper {
    padding-top: 0px;
    padding-right: var(--global-mobile-padding);
    padding-left: var(--global-mobile-padding);
}

.footer-container p {
    margin: 0px;
}

.footer-item {
    max-width: 401px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-item>p:first-child {
    font-size: 24px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-seven);
}

.footer-item>p:nth-child(2) {
    line-height: 25.6px;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-eleven);
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-link a {
    font-family: 'DMSans_18pt-Medium';
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-btm-txt {
    max-width: var(--max-width);
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-family: 'DMSans-Regular';
    color: var(--custom-eleven);
    margin: auto;
}

.newsletter-wrapper,
.footer-wrapper {
    margin-top: -2px;
}

.landing-pricing-sectone {
    max-width: 680px;
    margin: auto;
    text-align: center;
}

.landing-pricing-sectone>p:first-child {
    margin: 0px;
    font-size: 48px;
    color: var(--custom-seven);
    line-height: 57.6px;
    padding-bottom: 24px;

    font-family: 'Fontspring-DEMO-criteriacf-bold';
}

.landing-pricing-sectone>p:nth-child(2) {
    margin: 0px;
    font-size: 16px;
    color: var(--custom-seven);
    line-height: 19.2px;
    padding-bottom: 24px;
    font-family: 'DMSans-Regular';

}

.landing-pricing-container {
    max-width: var(--max-width);
    padding: 120px var(--global-desktop-padding);
    margin: auto;
}

.landing-subscription-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 13px;
}

.landing-subscription-card {
    box-shadow: 0px 10px 32px -4px #18274B1A, 0px 6px 14px -6px #18274B1F;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 20px;
    width: 290px !important;

}

.landing-recom-card {
    background-color: var(--custom-twenty-seven);
}

.landing-subscription-card>div:first-child {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.landing-subscription-card>div:first-child p {
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
}

.landing-subscription-card>div:first-child>p:first-child {
    font-size: 20px !important;
}

.landing-subscription-card>div:first-child>p:last-child {
    color: var(--custom-twenty-eight);
    text-transform: uppercase;
    font-size: 14px;
}

.landing-subscription-card>div:first-child>p:first-child {
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.landing-subscription-card>div:nth-child(2) {
    display: flex;
    margin-top: 28px;
    gap: 8px;
}

.landing-subscription-card>div:nth-child(2)>p:first-child {
    font-family: 'DMSans_36pt-Bold';
    font-size: 40px;
    color: var(--custom-seven);
    margin: 0px;
}

.landing-subscription-card>div:nth-child(2)>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    color: var(--custom-seven);
    margin: 0px;

}

.landing-recom-card>div:first-child p:first-child,
.landing-recom-card>div:nth-child(2)>p:first-child,
.landing-recom-card>div:nth-child(2)>p:nth-child(2) {
    color: var(--custom-seven);
}



.landing-curr-sub,
.landing-sub-amt,
.recom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    gap: 4px;
    cursor: pointer;
    border-radius: 32px;
    border: 1px solid var(--custom-seven);
    margin-top: 18px;
}

.landing-sub-amt {
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    border: none;
}

.landing-curr-sub>p,
.landing-sub-amt>p,
.recom-btn>p {
    color: var(--custom-eleven);
    font-size: 16px;
    font-family: 'DMSans_18pt-Medium';
    margin: 0px;
}

.landing-sub-amt>p {
    color: var(--custom-seven);
}

.landing-curr-sub>div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-curr-sub>div>img {
    width: 20px;
    height: 20px;
}

.landing-sub-items {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 16px;
}

.landing-sub-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px
}

.landing-sub-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.landing-sub-item>div>img {
    height: 20px;
    width: 20px;
}

.landing-sub-item>p {
    margin: 0px;
    font-size: 14px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--secondary-color)
}

.landing-recom-sub-item>p {
    color: var(--secondary-color);
}

.landing-sub-expiry {
    font-size: 16px;
    margin: 0px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--error-color);
}

.landing-sub-expiry-date {
    color: var(--custom-five);
}

.recom-btn {
    background-color: var(--custom-seven) !important;
}

.recom-btn>p {
    background: linear-gradient(136.9deg, var(--custom-thirteen) 2.3%, var(--custom-fourteen) 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contact-us-container {
    max-width: 680px;
    margin: auto;
}

.contact-us-wrapper {
    padding: 120px var(--global-desktop-padding);
}

.contact-us-form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--custom-six);
    margin-bottom: 40px;
}

.contact-us-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-item>label {
    font-size: 16px;
    color: var(--custom-seven);
    font-family: 'DMSans-Regular';
}

.contact-us-item>textarea {
    resize: none;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.3px solid var(--custom-two);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: white;
    padding: 9px;
}

.contact-us-item>input:focus,
.contact-us-item>textarea:focus {
    outline: 0.3px solid var(--tertiary-color);
    border: none;
}

.contact-us-item>input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.3px solid var(--custom-two);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: white;
    padding-left: 9px;
}

.contact-us-item>input::placeholder {
    font-size: 16px;
    font-family: 'DMSans-Regular';
}

.contact-us-container>p {
    color: var(--custom-seven);
    margin: 0px;
    text-align: center;
}

.contact-us-container>p:first-child {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    font-size: 48px;
    line-height: 57.6px;
}

.contact-us-container>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
}

.contact-us-btn {
    width: 100%;
    height: 43px;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'DMSans_18pt-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.contact-us-msg {
    text-align: start !important;
    color: var(--custom-six);
    font-size: 20px;
    font-family: 'DMSans-Regular';
    line-height: 32px;
}

.contact-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.contact-address-inner-one p,
.contact-address-inner-two p {
    margin: 0px;
    flex-wrap: nowrap;
}

.contact-address-inner-one,
.contact-address-inner-two,
.contact-address-inner-two a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-seven);
}

.contact-address-inner-one {
    gap: 60px;
}

.contact-address-inner-two {
    gap: 20px;
}

.contact-address-inner-one address {
    font-style: normal;
}

.header-container-bg-2 {
    background-image: url('/assets/images/hero-2.svg') !important;
    background-position: center calc(100% - 20px);
}

.products-header {
    padding-top: 130px;
    padding-bottom: 128px;
    max-width: 980px;
    margin: auto;

}

.products-header-innner>p {
    margin: 0px;
    color: white;
    text-align: center;
}

.products-header-innner>p:first-child {
    font-size: 48px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    padding-bottom: 21px;
}


.products-header-innner>p:nth-child(2) {
    font-size: 20px;
    font-family: 'DMSans_18pt-Medium';
    color: white;
    line-height: 32px;
}

.product-features-wrapper {
    background-image: url('/assets/images/bg-image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px var(--global-desktop-padding);
}

.features-header {
    max-width: 669px;
    margin: auto;
}

.features-header p {
    margin: 0px;
    text-align: center;
}

.features-header>p:first-child {
    font-size: 40px;
    font-family: 'DMSans_36pt-Bold';
    color: black;
    line-height: 48px;
}

.features-header>p:nth-child(2) {
    font-size: 18px;
    color: var(--custom-six);
    font-family: 'DMSans-Regular';
    padding-top: 11px;
}

.product-features-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 50px;
}

.product-features-grid-item {
    padding: 40px 31px;
    border-radius: 8px;
    background-color: var(--custom-seven);
    box-shadow: 0px 4px 4px -2px #18274B14, 0px 2px 4px -2px #18274B1F;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}

.product-features-grid-item>div:first-child {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-sixteen);
}

.product-features-grid-item>div:first-child>img {
    height: 35px;
    width: 35px;
}

.product-features-grid-item>p:nth-child(2) {
    font-size: 20px;
    margin: 0px;
    font-family: 'DMSans_36pt-Bold';
}

.product-features-grid-item>p:nth-child(3) {
    font-size: 20px;
    margin: 0px;
    font-family: 'DMSans-Regular';
}

.banner-container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner-wrapper {
    background-image: url('/assets/images/world-map.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--primary-color);
    padding: 138px var(--global-desktop-padding);
}

.banner-container>p {
    margin: 0px;
    font-size: 40px;
    line-height: 48px;
    max-width: 630px;
    color: var(--custom-seven);
    font-family: 'DMSans_36pt-Bold';
}

.banner-container>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 43px;
    font-size: 16px;
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    font-family: 'DMSans_36pt-Bold';
    background-color: white;
}

.header-container-bg-pvpo {
    background-image: none !important;
}

.privacy-policy-header {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 120px;
    padding-bottom: 79px;
    padding-right: var(--global-desktop-padding);
    padding-left: var(--global-desktop-padding);
}

.privacy-policy-header p {
    margin: 0px;
    text-align: center;
}

.privacy-policy-header>p:first-child {
    font-size: 48px;
    color: white;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
}

.privacy-policy-header>p:nth-child(2) {
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary-color);
    font-family: 'DMSans-Regular';
}

.privacy-policy-header>p:nth-child(3) {
    font-size: 16px;
    color: var(--custom-six);
    font-family: 'DMSans-Regular';
}

.privacy-content-wrapper {
    padding: 100px var(--global-desktop-padding);
}

.privacy-content-container {
    max-width: var(--max-width);
    margin: auto;
}

.privacy-content-container>p {
    margin: 0px;
    font-size: 24px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
}

.privacy-content-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 112px;

}

.privacy-content-nav {
    padding-top: 24px;
    position: sticky;
    top: 0;
}

.privacy-content-nav>button {
    white-space: nowrap;
    height: 43px;
    width: 100%;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px;
    border-radius: 8px;
}

.privacy-content-item-one,
.privacy-content-item-two {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px;
    gap: 16px;
}

.privacy-content-item-two,
.privacy-content-item-three,
.privacy-content-item-four,
.privacy-content-item-five {
    padding-top: 40px;
}

.privacy-content-item-one>p,
.privacy-content-item-two>p,
.privacy-content-item-three>p {
    margin: 0px;
}

.privacy-content-item-one>p:first-child {
    font-size: 48px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
    line-height: 57.6px;
}

.privacy-content-item-one>p:nth-child(2) {
    font-size: 20px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
    padding-top: 27px;
    line-height: 24px;
}

.privacy-content-item-one>p:nth-child(3) {
    line-height: 25.6px;
}

.privacy-content-item-three>p:nth-child(2),
.privacy-content-item-four>p:nth-child(2),
.privacy-content-item-five>p:nth-child(2) {
    padding-top: 20px;
    line-height: 25.6px;
}

.privacy-content-item-two>p:nth-child(2),
.privacy-content-item-two>p:nth-child(3) {
    line-height: 25.6px;
}

.privacy-content-item-four>p:nth-child(2) {
    padding-bottom: 38px;
}

.privacy-content-item-one>p:nth-child(3),
.privacy-content-item-two>p:nth-child(2),
.privacy-content-item-two>p:nth-child(3),
.privacy-content-item-three>p:nth-child(2),
.privacy-content-item-four>p:nth-child(2),
.privacy-content-item-five>p:nth-child(2),
.privacy-content-item-five>p:nth-child(2) {
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-five);
    margin: 0px;
}

.privacy-content-item-two>p:first-child {
    font-size: 40px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
}

.privacy-content-item-three>p:first-child {
    font-size: 32px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
}

.privacy-content-item-four>p:first-child {
    font-size: 24px;
    font-family: 'DMSans_36pt-Bold';
    color: var(--custom-five);
    margin: 0px;
}

.privacy-content-item-four>p:nth-child(3) {
    padding-left: 26px;
    font-size: 20px;
    color: var(--custom-five);
    font-family: 'DMSans-Regular';
    border-left: 1px solid var(--custom-five);
    margin: 0px;
}

.privacy-content-item-five>p:first-child,
.privacy-content-item-five>p:first-child {
    font-size: 20px;
    color: var(--custom-five);
    font-family: 'DMSans_36pt-Bold';
    margin: 0px;
}

.active-privacy-list-item {
    background-color: var(--custom-sixteen) !important;
    color: var(--tertiary-color);
    font-family: 'DMSans_18pt-Medium';
    transition: background-color 1s, color 1s;
}


.notfound-header{
    background-color: white !important;
}

.not-found-wrapper{
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px var(--global-desktop-padding) 0px var(--global-desktop-padding);
}

.not-found-container{
    max-width: 520px;
    margin: auto;
}

.not-found-container>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 390px;
    max-width: 520px;
    margin: auto;
    margin-top: 40px;
}

.not-found-container>p:nth-child(2) {
    max-width: 480px;
    margin: 0px auto 0px auto;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    line-height: 28.8px;
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-twenty-two);
}


.notfound-btn{
    width: 100%;
    height: 51px;
    border-radius: 32px;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    border: none;
    cursor: pointer;
    margin-top: 16px;
    font-family: 'DMSans_18pt-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1120px) {
    .not-found-container>div:first-child, .not-found-container>div:first-child>img{
        max-height: 290px;
        max-width: 420px;
    }
    .wucf-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .few-easy-item {
        width: 310px;
    }

    .few-easy-item p {
        font-size: 14px;
    }

    .product-features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 732px) {

    .landing-subscription-card {
        width: 100% !important;
        padding-left: 16px;
        padding-right: 16px;

    }

    .product-features-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 772px) {
    
    .privacy-content-inner {
        gap: 50px;

    }

    .news-letter-form {
        width: 100%;

    }

    .news-letter-img {
        display: none;
    }

    .newsletter-container {
        flex-direction: column;
    }

    .mobile-review-btn {
        display: flex;
    }

    .wct-header-inner-two {
        justify-content: end;
        margin-right: 16px;
        margin-top: 24px;
    }

    .few-easy-container {
        flex-direction: column-reverse;
        gap: 28px;
    }

    .wucf-inner {
        flex-direction: column;
        margin-top: 8px;
        gap: 8px;
    }

    .few-easy-sect-two {
        width: 100%;
    }

    .few-easy-img {
        width: 100%;
    }

    .few-easy-wrapper {
        padding: 40px 0px;
    }

    .desktop-review-btn {
        display: none;
    }

    .boost-container {
        flex-direction: column;
        gap: 40px;
        margin-top: 85px;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .boost-container-img {
        height: 343px;
        width: 100%;
    }

    .boost-container-inner {
        width: 100%;
    }
}



@media only screen and (max-width: 630px) {
    .privacy-content-container>p {
        font-size: 16px;
    }

    .privacy-content-item-three>p:nth-child(2),
.privacy-content-item-four>p:nth-child(2),
.privacy-content-item-five>p:nth-child(2) {
    padding-top: 10px;
}
    .privacy-content-item-two,
.privacy-content-item-three,
.privacy-content-item-four,
.privacy-content-item-five {
    padding-top: 20px;
}

    .privacy-content-item-one,
    .privacy-content-item-two,
    .privacy-content-item-three,
    .privacy-content-item-four,
    .privacy-content-item-five, .privacy-content-item-six {
        gap: 10px;
    }

    .privacy-content-item-one>p:nth-child(3),
    .privacy-content-item-two>p:nth-child(2),
    .privacy-content-item-two>p:nth-child(3),
    .privacy-content-item-three>p:nth-child(2),
    .privacy-content-item-four>p:nth-child(2),
    .privacy-content-item-five>p:nth-child(2),
    .privacy-content-item-five>p:nth-child(2) {
        font-size: 12px;
        line-height: 19.2px;
    }

    .privacy-content-item-four>p:nth-child(3) {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .wucf-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 24px;
    }

    .privacy-content-nav {
        padding-top: 10px;
        position: static;
    }

    .privacy-content-inner {
        flex-direction: column;
    }


    .privacy-content-item-one>p:first-child,
    .privacy-content-item-two>p:first-child,
    .privacy-content-item-three>p:first-child,
    .privacy-content-item-four>p:first-child,
    .privacy-content-item-five>p:first-child {
        font-size: 16px;
        line-height: 19.2px;
        margin: 0px;
        padding: 0px;
    }

    .privacy-content-item-one>p:nth-child(2) {
        padding-top: 0px;
    }

    .privacy-content-item-one>p:nth-child(2) {
        font-size: 14px;
        padding-top: 0px;
        line-height: 22.4px;
    }
    .hero>p:nth-child(2) {
        font-size: 38px;
        line-height: 55px;
    }
}

@media only screen and (max-width: 500px) {
    .not-found-container>p:nth-child(2) {
        font-size: 14px;
        padding-top: 32px;
        max-width: 280px;
        line-height: 19.2px;
    }   
    
    .notfound-btn{
        height: 41px;
        font-size: 14px;
    }

    .not-found-container>div:first-child, .not-found-container>div:first-child>img{
        max-height: 279px;
        max-width: 209px;
    }
    .not-found-wrapper{
        padding: 0px var(--global-mobile-padding) 0px var(--global-mobile-padding);
    }
    .privacy-content-item-four>p:nth-child(2) {
        padding-bottom: 16px;
    }
    
    .privacy-policy-header {
        max-width: 343px;
        gap: 12px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: var(--global-mobile-padding);
        padding-left: var(--global-mobile-padding);
    }
    .privacy-policy-header>p:first-child {
        font-size: 20px;
    }
    
    .privacy-policy-header>p:nth-child(2) {
        font-size: 14px;
        line-height: 22.4px;
    }
    
    .privacy-policy-header>p:nth-child(3) {
        font-size: 12px;
    }


    .privacy-content-nav>button {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 12px;
        height: 35px;
    }
    .privacy-content-wrapper {
        padding: 40px var(--global-mobile-padding);
    }

    .banner-container {
        max-width: 303px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }

    .banner-wrapper {
        
        background-size: 320px 213px;
        padding: 108px var(--global-mobile-padding);
    }

    .banner-container>p {
        font-size: 20px;
        line-height: 24px;
    }

    .banner-container>a {
        height: 41px;
        font-size: 14px;
    }



    .product-features-grid-item {
        padding: 18px;
        gap: 8px;
        margin-top: 0px;
    }

    .product-features-grid-item>div:first-child {
        height: 48px;
        width: 48px;
    }

    .product-features-grid-item>div:first-child>img {
        height: 32px;
        width: 32px;
    }

    .product-features-grid-item>p:nth-child(2) {
        font-size: 16px;
    }

    .product-features-grid-item>p:nth-child(3) {
        font-size: 14px;
        line-height: 22.4px;
    }



    .product-features-grid {
        gap: 16px;
        margin-top: 24px;
    }

    .features-header>p:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    .features-header>p:nth-child(2) {
        font-size: 12px;
    }

    .product-features-wrapper {
        padding: 40px var(--global-mobile-padding);
    }

    .products-header-innner>p:first-child {
        font-size: 20px;
        padding-bottom: 8px;
    }


    .products-header-innner>p:nth-child(2) {
        font-size: 14px;
        line-height: 22.4px;
    }

    .products-header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact-address-inner-one,
    .contact-address-inner-two {
        gap: 8px;
        align-items: start;
        flex-direction: column;
    }

    .contact-address-inner-one>p:first-child,
    .contact-address-inner-two>p:first-child {
        font-size: 12px;
    }

    .contact-address-inner-one>p:last-child,
    .contact-address-inner-two>p:last-child,
    .contact-address-inner-two a,
    .contact-address-inner-one address {
        font-size: 14px;
    }

    .contact-us-msg {
        font-size: 14px;
        line-height: 32px;
    }

    .contact-us-btn {
        height: 41px;
        font-size: 14px;
    }

    .contact-us-item>label {
        font-size: 14px;
    }

    .contact-us-item>textarea {
        font-size: 14px;
    }

    .contact-us-item>input::placeholder {
        font-size: 14px;
    }

    .contact-us-form {
        margin-top: 32px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .contact-us-container>p:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    .contact-us-container>p:nth-child(2) {
        font-size: 12px;
    }

    .contact-us-wrapper {
        padding: 40px var(--global-mobile-padding);
    }


    .landing-pricing-sectone>p:first-child {
        font-size: 20px;
        color: var(--custom-seven);
        line-height: 24px;
        padding-bottom: 8px;
    }

    .landing-pricing-sectone>p:nth-child(2) {
        font-size: 12px
    }

    .landing-sub-items {
        margin-top: 16px;
    }


    .landing-subscription-card>div:nth-child(2) {
        margin-top: 22px;
    }

    .landing-sub-item>div,
    .landing-sub-item>div>img {
        height: 16px;
        width: 16px;
    }

    .landing-curr-sub,
    .landing-sub-amt,
    .recom-btn {
        height: 41px;
        margin-top: 10px;
    }

    .landing-subscription-card>div:nth-child(2)>p:first-child {
        font-size: 24px;
    }

    .landing-subscription-card>div:nth-child(2)>p:nth-child(2) {
        font-size: 14px;

    }

    .landing-subscription-card>div:first-child>p:first-child {
        font-size: 16px !important;
    }

    .landing-subscription-card>div:first-child>p:last-child {
        font-size: 12px;
    }

    .landing-subscription-grid {
        gap: 12px;
    }

    .landing-pricing-container {
        padding: 50px var(--global-mobile-padding);
    }

    .newsletter-wrapper,
    .footer-wrapper {
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }


    .footer-container,
    .newsletter-container {
        padding: 40px 0px;
    }


    .footer-container {
        gap: 26px;
    }


    .footer-link {
        gap: 16px;
    }

    .footer-link a {
        font-size: 14px;
    }

    .footer-btm-txt {
        font-size: 12px;
        padding-top: 8px;
    }

    .footer-item>p:first-child {
        font-size: 16px;
        font-family: 'DMSans_36pt-Bold';
        color: var(--custom-seven);
    }

    .footer-item>p:nth-child(2) {
        line-height: 19.2px;
        font-size: 12px;
    }

    .tnc-btn {
        font-size: 14px;
        margin-top: 40px;
    }

    .custom-checkbox {
        margin-top: 16px;
        font-size: 12px;

    }

    .news-letter-form>input {

        margin-top: 32px;
    }

    .news-letter-form>p:first-child {
        font-size: 20px;
    }

    .news-letter-form>p:nth-child(2) {
        font-size: 12px;
        padding-top: 8px;
    }

    .wct-header-inner-two button {
        height: 40px;
        width: 40px
    }

    .wct-header-inner-two button img {
        height: 20px;
        width: 20px
    }

    .comment-wrapper {
        padding-top: 16px;
        padding-bottom: 40px;
        margin: auto;
    }

    .commenter-name {
        font-size: 12px;
        margin: 0px;
        font-family: 'DMSans_18pt-Medium';
    }

    .rating {
        margin-bottom: 24px;
    }

    .wct-header-inner-one>p:last-child {
        font-size: 12px;
        line-height: 19.2px;
    }

    .wct-header-inner-one>p:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    .wct-header {
        padding-top: 40px;
    }

    .wct-container {
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }


    .few-easy-wrapper,
    .fags-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);

    }

    .fag-button,
    .fag-button>img {
        height: 20px;
        width: 20px;
    }

    .faq-question>p:first-child {
        font-size: 12px;
    }

    .faq-item {
        padding: 16px;
    }

    .fags-container>p:first-child {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 8px;
    }

    .fags-container>p:nth-child(2) {
        font-size: 12px;
        line-height: 14.4px;
        padding-bottom: 16px;
    }

    .wucf-img-inner-two {
        top: 38px;
        right: 12px;

    }

    .wucf-img-inner {
        height: 343px;
    }

    .few-easy-item {
        width: max-content;
        height: 40px;
        padding: 0px 8px;
    }

    .few-easy-item-one {
        position: absolute;
        top: 16px;
        left: 8px;
    }

    .few-easy-item-two {
        position: absolute;
        top: 72px;
        left: 16px;
    }

    .few-easy-item-three {
        position: absolute;
        top: 128px;
        left: 32px;
    }

    .few-easy-sect-two-link {
        margin-top: 16px;
    }

    .few-easy-sect-two-inner-two>p:nth-child(2) {
        margin: 32px 0px 0px 0px
    }

    .few-easy-sect-two-inner-two>p:nth-child(3) {
        margin: 32px 0px 0px 0px
    }

    .few-easy-sect-two-inner-one>div:nth-child(4) {
        height: 20px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(2) {
        height: 20px;
        width: 1.2px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(5) {
        height: 32px;
    }

    .few-easy-sect-two-inner-one {
        width: 32px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(1),
    .few-easy-sect-two-inner-one>div:nth-child(3) {
        height: 32px;

    }

    .few-easy-sect-two-inner-two {
        font-size: 14px;
    }

    .few-easy-sect-two>p:nth-child(1) {
        font-size: 14px;
    }

    .few-easy-sect-two>p:nth-child(2) {
        font-size: 20px;
        margin: 8px 0px 0px 0px;
        line-height: 24px;
    }

    .few-easy-sect-two>p:nth-child(3) {
        font-size: 12px;
        margin-top: 8px;
        line-height: 14.4px;
    }



    .boost-container-inner>p:nth-child(2) {
        font-size: 12px;
        margin-top: 8px;
        line-height: 19.2px;
    }

    .boost-container-inner>p:nth-child(1) {
        line-height: 28px;
        font-size: 20px;
    }

    .wucf-img>p:nth-child(3) {
        font-size: 14px;
        margin-top: 8px;
    }

    .wucf-img>p:nth-child(2) {
        margin-top: 12px;
        font-size: 16px;
    }



    .wucf-inner>p:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
    }

    .wucf-inner>p:nth-child(2) {
        font-size: 12px;
    }

    .wucf-container>p:nth-child(1) {
        font-size: 14px;
        line-height: 14.4px;
    }

    .wucf-inner {
        margin-top: 8px;
        gap: 8px;
    }



    .hero,
    .products-header {
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .wucf-container {
        margin: 40px auto auto auto;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .few-easy-container {

        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);

    }

    .hero-img {
        height: 215px;
    }

    .hero>p:nth-child(1) {
        font-size: 12px;
        margin-top: 40px;
    }

    .hero>p:nth-child(2) {
        font-size: 24px;
        line-height: 38.4px;
        max-width: 343px;
        margin: auto;
    }

    .hero>p:nth-child(3) {
        font-size: 12px;
        line-height: 19.2px;
        max-width: 343px;
        margin: auto;
        margin: 10px auto auto auto;

    }

    .hero-btn a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .hero-btn {
        margin-bottom: 14px;
    }
}