body {
    margin: 0px;
}

.hero {

    margin: auto;
    text-align: center;
    max-width: 980px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.hero>p:nth-child(1) {
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    margin-top: 105px;
}

.hero>p:nth-child(2) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    font-size: 48px;
    margin: auto;
    line-height: 76.8px;

}

.hero>p:nth-child(3) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 16px;
    line-height: 25.6px;
    margin-top: 20px;

}

.hero-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

.hero-btn a {
    text-decoration: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'DMSans_36pt-Bold';
}

.hero-btn>a:nth-child(1) {
    background-color: white;
    color: black;
}

.hero-btn>a:nth-child(2) {
    border: 1px solid rgba(255, 255, 255, 0.13);
    color: white;
}

.hero-img {
    height: 405.64px;
    width: 100%;
    margin: auto;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent,
            var(--primary-color));
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.wucf-container {
    max-width: var(--max-width);
    margin: 100px auto auto auto;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.wucf-container>p:nth-child(1) {
    text-transform: uppercase;
    font-family: 'DMSans-Regular';
    color: var(--tertiary-color);
    font-size: 20px;
    margin: 0px;
}

.wucf-inner {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-top: 16px;
}

.wucf-inner>p:nth-child(1) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    font-size: 40px;
    color: var(--custom-one);
    max-width: 415px;
    margin: 0;
}

.wucf-inner>p:nth-child(2) {
    font-family: 'DMSans-Regular';
    font-size: 20px;
    color: var(--custom-two);
    max-width: 496px;
    margin: 0;
}

.wucf-img-inner {
    position: relative;
    background-color: var(--custom-three);
    border-radius: 12px;
    height: 384px;
    width: 100%;
    overflow: hidden;
}

.wucf-img-inner>img:nth-child(1) {
    position: absolute;
    left: 0px;
    bottom: -1px;
    box-shadow: 0px 8px 8px -4px #18274B14;
}

.wucf-img>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    color: var(--custom-one);
    margin: 25px 0px 0px 0px;
    font-size: 24px;
}

.wucf-img>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    color: var(--custom-two);
    font-size: 16px;
    margin-top: 8px;
}

.wucf-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 80px;
    line-height: 25.6px;
}

.wucf-img {
    width: 100%;
    ;
}

.wucf-img-inner-two {
    position: absolute;
    right: 6px;
    top: 90px;
    height: 40px;
    width: 147px;
    box-shadow: 0px 10px 50px 0px var(--custom-four);
    background-color: white;
    border-radius: 70px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.wucf-img-inner-two>p:nth-child(2) {
    font-family: 'DMSans_18pt-Medium';
    font-size: 14px;
    color: var(--custom-one);
}

.wucf-img-inner-two-img {
    height: 24px;
    width: 24px;
    padding-left: 8px;
}

.wucf-img-inner-two-img img {
    width: 100%;
    height: 100%;
}

.boost-container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 200px;
    padding-bottom: 80px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);
}

.boost-container-inner {
    width: 50%;
}

.boost-container-inner>p:nth-child(1) {
    line-height: 44.8px;
    font-size: 32px;
    margin: 0px;
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    color: var(--custom-five);

}

.boost-container-inner>p:nth-child(2) {
    line-height: 25.6px;
    font-size: 16px;
    font-family: 'DMSans-Regular';
    color: var(--custom-six);
    margin-top: 16px;
}

.boost-container-inner a {
    text-decoration: none;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_36pt-Bold';
    height: 43px;
    width: 132px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boost-container-img {
    height: 523px;
    width: 50%;
}

.boost-img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}

.few-easy-wrapper {
    background-color: var(--custom-eleven);
    padding: 100px 0px;

}

.few-easy-container {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    gap: 72px;
    padding-left: var(--global-desktop-padding);
    padding-right: var(--global-desktop-padding);

}

.few-easy-img {
    height: 536px;
    width: 50%;
    background-color: var(--cistom-eight);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.few-easy-img>img:first-child {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.few-easy-item {
    box-shadow: 16px 16px 80px 0px #00000026;
    width: 380px;
    height: 72px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 12px;

}

.few-easy-item-one {
    position: absolute;
    top: 31px;
    left: 30px;
}

.few-easy-item-two {
    position: absolute;
    top: 135px;
    left: 62px;
}

.few-easy-item-three {
    position: absolute;
    top: 240px;
    left: 97px;
}

.few-easy-item-img {
    height: 20px;
    width: 20px;
}

.few-easy-item-img>img:first-child {
    height: 100%;
    width: 100%;
}

.few-easy-item p {
    color: var(--custom-nine);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_18pt-Medium';
}


.few-easy-sect-two {
    width: 50%;
}

.few-easy-sect-two>p:nth-child(1) {
    font-family: 'DMSans_18pt-Medium';
    text-transform: uppercase;
    font-size: 20px;
    color: var(--custom-ten);
    margin: 0px;
}

.few-easy-sect-two>p:nth-child(2) {
    font-family: 'Fontspring-DEMO-criteriacf-bold';
    line-height: 48px;
    font-size: 40px;
    color: var(--custom-five);
    margin: 15px 0px 0px 0px;
}

.few-easy-sect-two>p:nth-child(3) {
    font-family: 'DMSans-Regular';
    line-height: 24px;
    font-size: 20px;
    color: var(--custom-six);
    max-width: 480px;
    margin-top: 25px;
}

.few-easy-sect-two-inner-one {
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.few-easy-sect-two-inner-one>div:nth-child(1),
.few-easy-sect-two-inner-one>div:nth-child(3) {
    font-family: 'DMSans_36pt-Bold';
    height: 48px;
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.few-easy-sect-two-inner-one>div:nth-child(2) {
    height: 33px;
    background-color: var(--tertiary-color);
    width: 1.6px;
}

.few-easy-sect-two-inner-one>div:nth-child(5) {
    font-family: 'DMSans_36pt-Bold';
    height: 48px;
    width: 100%;
    background-color: var(--custom-eleven);
    border-radius: 50%;
    color: var(--custom-twelve);
    display: flex;
    align-items: center;
    justify-content: center;
}




.few-easy-sect-two-inner-one>div:nth-child(4) {
    position: relative;
    height: 33px;
    background-color: white;
}

.few-easy-sect-two-inner-one>div:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.6px;
    height: 100%;
    border-radius: 80px;
    background: linear-gradient(var(--custom-eleven) 50%, transparent 50%) 0 0 / 2px 15px repeat-y;
    pointer-events: none;
}

.few-easy-sect-two-inner {
    display: flex;
    gap: 16px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    max-width: 460px;
    margin-top: 25px;

}

.few-easy-sect-two-inner-two {
    font-family: 'DMSans_18pt-Medium';
    font-size: 20px;
    margin: 0;
}

.few-easy-sect-two-inner-two>p:nth-child(1) {
    margin: 10px 0px 0px 0px
}

.few-easy-sect-two-inner-two>p:nth-child(2) {
    margin: 55px 0px 0px 0px
}

.few-easy-sect-two-inner-two>p:nth-child(3) {
    margin: 57px 0px 0px 0px
}

.few-easy-sect-two-link {
    text-decoration: none;
    background: linear-gradient(136.9deg, #05A4C7 2.3%, #1ADBD4 96.52%);
    color: var(--custom-seven);
    font-size: 16px;
    line-height: 19.2px;
    font-family: 'DMSans_36pt-Bold';
    height: 43px;
    width: 132px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1120px) {
    .wucf-img-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .few-easy-item {
        width: 310px;
    }

    .few-easy-item p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 772px) {
    .few-easy-container {
        flex-direction: column-reverse;
        gap: 28px;
    }

    .few-easy-sect-two {
        width: 100%;
    }

    .few-easy-img {
        width: 100%;
    }

}




@media only screen and (max-width: 500px) {
    .wucf-img-inner-two {
        top: 38px;
        right: 12px;

    }

    .wucf-img-inner {
        height: 343px;
    }

    .few-easy-item {
        width: max-content;
        height: 40px;
        padding: 0px 8px;
    }

    .few-easy-item-one {
        position: absolute;
        top: 16px;
        left: 8px;
    }

    .few-easy-item-two {
        position: absolute;
        top: 72px;
        left: 16px;
    }

    .few-easy-item-three {
        position: absolute;
        top: 128px;
        left: 32px;
    }

    .few-easy-sect-two-link {
        margin-top: 16px;
    }

    .few-easy-sect-two-inner-two>p:nth-child(2) {
        margin: 32px 0px 0px 0px
    }

    .few-easy-sect-two-inner-two>p:nth-child(3) {
        margin: 32px 0px 0px 0px
    }

    .few-easy-sect-two-inner-one>div:nth-child(4) {
        height: 20px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(2) {
        height: 20px;
        width: 1.2px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(5) {
        height: 32px;
    }

    .few-easy-sect-two-inner-one {
        width: 32px;
    }

    .few-easy-sect-two-inner-one>div:nth-child(1),
    .few-easy-sect-two-inner-one>div:nth-child(3) {
        height: 32px;

    }

    .few-easy-sect-two-inner-two {
        font-size: 14px;
    }

    .few-easy-sect-two>p:nth-child(1) {
        font-size: 14px;
    }

    .few-easy-sect-two>p:nth-child(2) {
        font-size: 20px;
        margin: 8px 0px 0px 0px;
        line-height: 24px;
    }

    .few-easy-sect-two>p:nth-child(3) {
        font-size: 12px;
        margin-top: 8px;
        line-height: 14.4px;
    }

    .few-easy-wrapper {
        padding: 40px 0px;

    }

    .boost-container-inner>p:nth-child(2) {
        font-size: 12px;
        ;
        margin-top: 8px;
        line-height: 19.2px;
    }

    .boost-container-inner>p:nth-child(1) {
        line-height: 28px;
        font-size: 20px;


    }

    .boost-container-img {
        height: 343px;
        width: 100%;
    }

    .boost-container-inner {
        width: 100%;
    }

    .wucf-img>p:nth-child(3) {
        font-size: 14px;
        margin-top: 8px;
    }

    .wucf-img>p:nth-child(2) {
        margin-top: 12px;
        font-size: 16px;
    }

    .wucf-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 24px;
    }

    .wucf-inner>p:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
    }

    .wucf-inner>p:nth-child(2) {
        font-size: 12px;
    }

    .wucf-container>p:nth-child(1) {
        font-size: 14px;
        line-height: 14.4px;
    }

    .wucf-inner {
        flex-direction: column;
        margin-top: 8px;
        gap: 8px;
    }

    .boost-container {
        flex-direction: column;
        gap: 40px;
        margin-top: 85px;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .hero {
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .wucf-container {
        margin: 40px auto auto auto;
        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);
    }

    .few-easy-container {

        padding-left: var(--global-mobile-padding);
        padding-right: var(--global-mobile-padding);

    }

    .hero-img {
        height: 215px;
    }

    .hero>p:nth-child(1) {
        font-size: 12px;
        margin-top: 40px;
    }

    .hero>p:nth-child(2) {
        font-size: 24px;
        line-height: 38.4px;
    }

    .hero>p:nth-child(3) {
        font-size: 12px;
        line-height: 19.2px;
        margin: 10px 0px 0px 0px;

    }

    .hero-btn a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .hero-btn {
        margin-bottom: 14px;
    }
}